
= f.input :name, label: "name"

= f.input :body

= f.input :tags

Access
= f.select :access, options_for_select(["admin", "user"],:disabled => ["Select One"])

<br>

NoteBook
= f.select( :book_id, Book.all.map {|i| [i.name, i.id]})



