%h1 Notes
= link_to 'На главную', home_index_path
%br/
%br/
= link_to 'Создать заметку', new_book_note_path
= link_to 'Блокноты', books_path
- if @notes.empty?
  %b No notes now
- else
  %table
    %th note id
    %th note name
    %th note body
    %th note tags
    - if Rails.env.development?
      %th #HIDE! note access
      %th #HIDE! note notebook
    - @notes.each do |i|
      %tr{"data-note_id" => i.id}
        %td= i.id
        %td= link_to i.name, book_note_path(i.book_id , i)
        %td= i.body
        %td= i.tags
        %td= i.access
        %td= i.book
        %td= button_to "редактировать", edit_book_note_path(i.book_id , i, admin: params[:admin]), method: :get
        %td= button_to "удалить", book_note_path(i.book_id , i, admin: params[:admin]), method: :delete, data: { confirm: "Точно удалить?"}