%h1 Заметки
= link_to 'На главную', home_index_path , class: "btn btn-sm btn-primary"
%br
= link_to 'Создать заметку', new_book_note_path , class: "btn btn-sm btn-primary"
= link_to 'Блокноты', books_path , class: "btn btn-sm btn-primary"
- if @notes.empty?
  %b Заметок не найдено
- else
  %table.table
    %th Номер
    %th Имя
    %th Содержание
    %th Теги
    - if Rails.env.development?
      %th Доступ
    - @notes.each do |i|
      %tr
        %td= i.id
        %td= link_to i.name, book_note_path(i.book_id , i)
        %td= i.body
        %td= i.tags
        %td= i.access
        %td= button_to "редактировать", edit_book_note_path(i.book_id , i, admin: params[:admin]), method: :get , class: "btn btn-sm btn-primary"
        %td= button_to "удалить", book_note_path(i.book_id , i, admin: params[:admin]), method: :delete, data: { confirm: "Точно удалить?"} , class: "btn btn-sm btn-primary"