<h1>Persons#profile</h1>
<p>Find me in app/views/persons/profile.html.erb</p>



<%= current_user.email %>
<br>
Дата создания:
<%= current_user.created_at %>
<br>
Роль:
<%= link_to current_user.role %>
<br>
<br>
<%= link_to 'На главную', home_index_path %>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>