<h1>NoteBooks </h1>
<%= link_to 'На главную', home_index_path %>
<br><br>
<%= button_to 'Создать блокнот', new_book_path%>



<% if @books.empty? %>
<b>No NoteBooks now</b>
<% else %>

<table>
  <tr>

    <th>NoteBook id</th>
    <th>NoteBook name</th>
    <th>#HIDE! NoteBook access</th>
    <th>NoteBook tags</th>



    <% @books.each do |i| %>

    <tr data-book_id="<%= i.id %>">
      <td><%= i.id %></td>
      <td><%= link_to i.name, book_notes_path(i) %></td>
      <td><%= i.access %></td>
      <td><%= raw i.tags.map(&:name).map { |t| link_to t, tag_path(t), class: 'tag tag-primary'}.join(' ') %>
      <td><%= button_to "редактировать", edit_book_path(i, admin: params[:admin]), method: :get %></td>
      <td><%= button_to "удалить", book_path(i, admin: params[:admin]), method: :delete, data: { confirm: "Точно удалить?"} %></td>

  </tr>



  <% end %>

</table>

<% end %>